* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1320px;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}
ul > li > a {
  text-decoration: none;
}
nav li {
  list-style: none;
}
.btn {
  background-color: #ff5400;
  padding: 15px 40px;
  color: white;
  font-size: 15px;
  font-weight: 300;
  border: 0;
  margin-top: 15px;
  border-radius: 10px;
}
.section_title {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.section_title h2 {
  font-size: 48px;
  margin-bottom: 10px;
}
/* univarsal css styles */

/* header styles */
.header_left {
  display: flex;
  gap: 10px;
  align-items: center;
  /* background-color: aqua; */
}
.header span {
  color: #ff5400;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  /* margin-top: 30px; */
}
.header_left > h3 {
  font-size: 35px;
}
.header_right > ul {
  display: flex;
  color: gray;
  font-weight: 400;
  gap: 50px;
  text-transform: uppercase;
}
.header_right a:hover {
  color: #ff5400;
}
/* banner part styles */
.bannar {
  background-image: linear-gradient(
      to left,
      rgba(6, 10, 48, 0.315),
      rgba(37, 32, 36, 0.73)
    ),
    url("../Images/bannar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.bannar_description {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bannar_description h2 {
  font-size: 55px;
  color: white;
  font-weight: 700;
}
.bannar_description p {
  color: white;
}
/* .menu_list_item {
  width: 75%;
  background-color: #ff5400;
  
} */
.popular_tour {
  display: flex;
  gap: 60px;
  margin-top: 80px;
}
.popular_tour p {
  margin-top: 15px;
}
.popular_tour_left_part h2 {
  font-size: 55px;
  font-weight: 700;
}
.popular_tour_left_part {
  width: 60%;
  padding-left: 20px;
  /* background-color: #ff5400; */
}
/* choose your destination section styles */
#choose_your_destination {
  width: 1250px;
}
.first_row {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.second_row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.thired_row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
/* why choose us section */
/* news letter section styles */
.newsletter {
  display: flex;
  gap: 20px;
}
.newsletter_left {
  width: 45%;
  padding: 60px;
  border: 2px solid #ff5400;
  border-radius: 20px;
}
#text_input {
  padding: 15px 50px;
}
/* mobile device responsive */
@media screen and(max-width: 600px) {
  .bannar {
    width: 100%;
    padding: 20px;
  }
  .bannar_description h2 {
    font-size: 8px;
  }
}
