* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1320px;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}
ul > li > a {
  text-decoration: none;
}
nav li {
  list-style: none;
}
.btn {
  background-color: #ff5400;
  padding: 15px 40px;
  color: white;
  font-size: 15px;
  font-weight: 300;
  border: 0;
  margin-top: 15px;
  border-radius: 10px;
}
.section_title {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.section_title h2 {
  font-size: 48px;
  margin-bottom: 10px;
}
/* univarsal css styles */

/* header styles */
.header_left {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header span {
  color: #ff5400;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  /* margin-top: 30px; */
}
.header_left > h3 {
  font-size: 35px;
}
.header_right > ul {
  display: flex;
  color: gray;
  font-weight: 400;
  gap: 50px;
  text-transform: uppercase;
}
.header_right a:hover {
  color: #ff5400;
}
/* banner part styles */
.bannar {
  background-image: linear-gradient(
      to left,
      rgba(6, 10, 48, 0.315),
      rgba(37, 32, 36, 0.73)
    ),
    url("../Images/bannar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.bannar_description {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bannar_description h2 {
  font-size: 55px;
  color: white;
  font-weight: 700;
}
.bannar_description p {
  color: white;
}
/* .menu_list_item {
  width: 75%;
  background-color: #ff5400;
  
} */
.popular_tour {
  display: flex;
  gap: 60px;
  margin-top: 80px;
}
.popular_tour p {
  margin-top: 15px;
}
.popular_tour_left_part h2 {
  font-size: 55px;
  font-weight: 700;
}
.popular_tour_left_part {
  width: 60%;
  padding-left: 20px;
  /* background-color: #ff5400; */
}
/* choose your destination section styles */
#choose_your_destination {
  width: 1250px;
}
.first_row {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.first_row_child img {
  width: 100%;
  height: 100%;
}
.second_row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.thired_row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
/* Deals and discount section */
.discount_banner {
  position: relative;
}
.discount_offer {
  padding: 2.5rem;
  position: absolute;
  top: 60px;
  right: 130px;
  height: 380px;
  width: 550px;
  background-color: #ffffff;
  opacity: 0.9;
  border-radius: 15px;
}
.cardTitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}
.cardTitle p {
  align-items: flex-start;
}
.cardIntro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* A simple perfect place section */
.Simple_perfect_place {
  display: flex;
  gap: 50px;
}
.Simple_perfect_place_left {
  width: 45%;
}
.Simple_perfect_place_left p {
  margin-top: 10px;
}
.Simple_perfect_place_left h2 {
  font-size: 45px;
}
/* news letter section styles */
.newsletter {
  display: flex;
  gap: 20px;
  margin-top: 80px;
}
.newsletter_left {
  width: 50%;
  padding: 85px;
  border: 2px solid #ff5400;
  border-radius: 20px;
}
.newsletter_left p {
  border-bottom: 2px solid gray;
}
#text_input {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  width: 420px;
  border: 0;
  background-color: rgb(192, 185, 185);
}
#email_input {
  padding: 15px;
  width: 420px;
  border: 0;
  background-color: rgb(192, 185, 185);
}
#btn-primary {
  width: 420px;
  background-color: #ff5400;
  padding: 15px 40px;
  color: white;
  font-size: 15px;
  font-weight: 300;
  border: 0;
  margin-top: 15px;
  border-radius: 10px;
}
/* footer section styles */
.footer {
  margin-top: 80px;
  height: 450px;
  background-color: rgb(240, 237, 232);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 100px 150px;
}
.fotter_header {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer p {
  margin-top: 20px;
  width: 800px;
  margin-bottom: 20px;
}
.footer_icon {
  border-bottom: 2px solid black;
  width: 800px;
  font-size: 30px;
  color: black;
}
.footer_heading {
  font-size: 48px;
}
.footer_heading span {
  color: #ff5400;
}
.hide {
  display: none;
}

/* mobile device responsive */
@media screen and (max-width: 600px) {
  .bannar {
    width: 100%;
    padding: 20px;
  }
  .bannar_description h2,
  .popular_tour_left_part h2,
  .section_title h2,
  .Simple_perfect_place_left h2,
  .footer h3,
  .header_left h3 {
    font-size: 25px;
  }
  .bannar_description p {
    font-size: 13px;
  }
  .popular_tour_left_part,
  .Simple_perfect_place_left,
  .Simple_perfect_place_right,
  .newsletter_left,
  .newsletter,
  .footer {
    width: 100%;
    padding: 5px;
  }
  .Simple_perfect_place_right img {
    width: 100%;
  }

  .popular_tour_right_part img {
    width: 100%;
    padding: 5px;
  }
  .popular_tour {
    flex-direction: column;
    margin-top: 40px;
  }
  .first_row,
  .second_row,
  .thired_row,
  .Simple_perfect_place,
  .newsletter {
    flex-direction: column;
  }
  .newsletter_right img {
    width: 100%;
    padding: 5px;
  }
  .section_title p {
    font-size: 13px;
  }

  .second_row img {
    width: full;
  }
  #choose_your_destination img {
    width: 100%;
    padding: 5px;
  }
  #email_input,
  #text_input,
  #btn-primary {
    width: 100%;
  }
  .discount_banner img {
    width: 100%;
    height: 500px;
  }
  .discount_offer {
    height: 300px;
    width: 300px;
    right: 5px;
    top: 180px;
  }
  .cardIntro {
    flex-wrap: wrap;
    margin-bottom: 5px;
  }
  .cardIntro span {
    margin-top: 5px;
  }
  .deals_and_discount {
    padding: 5px;
  }
  .footer p {
    width: 100%;
    padding: 10px;
  }
  .footer_icon {
    width: 100%;
  }
}
